<table border="1">
    <thead>
        <tr>
            <th>Node</th>
            <th>CPU Requests</th>
            <th>CPU Limits</th>
            <th>Memory Requests</th>
            <th>Memory Limits</th>
        </tr>
    </thead>
    <tbody>
        {% for line in node_resource_info.stdout_lines %}
        {% set fields = line.split(',') %}
        
        <tr            
            {% if loop.index is divisibleby 2 %}
                style="background-color: #f0f0f0;"
            {% else %}
                style="background-color: white;"
            {% endif %}>
           
            <td style="white-space: nowrap"><strong>{{ fields[0] }}</strong></td>
                        <!-- CPU Requests (fields[3]) -->
            <td
                {% set mem_requests_percent = fields[1].split('(')[-1].strip('%)') %}
                {% if mem_requests_percent|float >= 90 and mem_requests_percent|float <= 100 %}
                    style="background-color: orange; color: white; font-weight: bold; white-space: nowrap;"
                {% elif mem_requests_percent|float > 100 %}
                    style="background-color: red; color: white; font-weight: bold;white-space: nowrap;"
                {% endif %}>
                {{ fields[1] }}
            </td>
            
            <!-- CPU Limits (fields[4]) -->
            <td
                {% set mem_limits_percent = fields[2].split('(')[-1].strip('%)') %}
                {% if mem_limits_percent|float >= 90 and mem_limits_percent|float <= 100 %}
                    style="background-color: orange; color: white; font-weight: bold;white-space: nowrap;"
                {% elif mem_limits_percent|float > 100 %}
                    style="background-color: red; color: white; font-weight: bold;white-space: nowrap;"
                {% endif %}>
                {{ fields[2] }}
            </td>

            <!-- Memory Requests (fields[3]) -->
            <td
                {% set mem_requests_percent = fields[3].split('(')[-1].strip('%)') %}
                {% if mem_requests_percent|float >= 90 and mem_requests_percent|float <= 100 %}
                    style="background-color: orange; color: white; font-weight: bold;white-space: nowrap;"
                {% elif mem_requests_percent|float > 100 %}
                    style="background-color: red; color: white; font-weight: bold;white-space: nowrap;"
                {% endif %}>
                {{ fields[3] }}
            </td>
            
            <!-- Memory Limits (fields[4]) -->
            <td
                {% set mem_limits_percent = fields[4].split('(')[-1].strip('%)') %}
                {% if mem_limits_percent|float >= 90 and mem_limits_percent|float <= 100 %}
                    style="background-color: orange; color: white; font-weight: bold;white-space: nowrap;"
                {% elif mem_limits_percent|float > 100 %}
                    style="background-color: red; color: white; font-weight: bold;white-space: nowrap;"
                {% endif %}>
                {{ fields[4] }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
